@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  opacity: 1;
  /* filter: blur(10px); */
  top: 0;
  left: 0;
  z-index: -1000;
}

.landing-page {
  /* background-color: aqua; */
  font-family: 'Playfair Display', serif;
  /* font-size: 285px; */
  font-size: 15cqmax;
  font-weight: 600;
  text-align: justify;
  padding-left: 50px;
  font-family: 'DM Sans', sans-serif;
}

.register {
  margin-right: 60px;
  align-items: center;
  justify-content: center;
}

.landing-page {
  /* background-color: aqua; */
  font-family: 'Playfair Display', serif;
  /* font-size: 285px; */
  font-size: 15cqmax;
  font-weight: 600;
  text-align: justify;
  padding-left: 50px;
}

.landing {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-size: 16cqmax;
  margin: -110px;
  margin-left: 40px;
}
